* {
  margin: 0;
  padding: 0;
}
header {
  background-color: #5870cb;
  height: 10vh;
  color: #c0cfff;
}
main {
  display: flex;
  position: absolute;
  height: 90vh;
  width: 100vw;
}
aside {
  background-color: #8c9eff;
  flex-shrink: 0;
  width: 200px;
  text-align: center;
}
aside li {
  list-style: none;
}
section {
  background-color: whitesmoke;
  flex-grow: 1;
}
