* {
  color: none;
  background-color: none;
  border: none;
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}
.modal {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(97, 97, 97, 0.332);
  flex-direction: column;

  align-items: center;
}
.headerForm {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.headerForm h3 {
  color: #5870cb;
}
.headerForm button {
  font-size: large;
}
.modalForm {
  background-color: whitesmoke;
  max-width: 600px;
  padding: 20px;
  align-items: center;
  text-align: center;
  margin: auto 0;
}
.modalForm div {
  margin-bottom: 15px;
}
.modalForm input {
  margin-left: 10px;
}
.submit button {
  margin: 20px;
  background-color: rgb(208, 178, 236);
  font-weight: 600;
  padding: 6px 0px;
  width: 70px;
  border-radius: 10px;
}
